$fontsize-mobile: 12px;
$colorvino: #A60321;
@mixin botonmobile {
        width: 150px;
        height: 30px;
        background: #A60321;
        box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.25);
        border-radius: 5px;
        border:none;
        color: white;
        margin-top: 10px;
}
@mixin boton {
    width: 250px;
    height: 40px;
    background: #A60321;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.25);
    border-radius: 5px;
    border:none;
    color: white;
    margin-top: 10px;
}
@mixin titulosmobile {
    font-size: 22px;
    font-weight: 600;
}
@mixin titulos {
    font-size: 32px;
    font-weight: 600;
}
@mixin subtitulosmobile {
    font-size: 18px;
    font-weight: 600;
}
@mixin subtitulos {
    font-size: 22px;
    font-weight: 500;
}